body {
    text-align: center;
    font-family: "Indie Flower", "Arial";
}

h1 {
    font-family: "Chewy", "Impact";
    margin: 0;
    margin-top: 20px;
}

.section {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


button {
    padding: 0;
    border: none;
    background: none;
    outline: 0;
}


label {
    font-family: "Myriad Pro";
    font-size: 11pt;
}


#controlPanel {
    width: 480px;
    height: 100px;
}

.controls {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    margin-top: 10px;
}

#workArea.over {
    background: #d3eff7;
}

a:link, a:visited {
    color: #0000EE;
}

a:hover {
    color: #888;
}